*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f7f8;
    
}

#logo-toboolist{
    height: 50px;
}

header{
    background-color: white;
    padding:8px 16px;
}

.container{
    background-color: white;
    border-radius: 6px;
    max-width: 1400px;
    width: 100%;
    
    
}

.task-container{
    padding:25px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    

}

.button-container{
    padding:10px 40px;
    border-bottom: 2px #F6F8F9 solid;

}

main{
    padding-top: 28px;
    padding-left:50px ;
    padding-right: 50px;
    display: flex;
    justify-content: center;

}

#task-button{
    background-color:#14AAF5;
    border: 1px #14AAF5 solid;
    padding-top:4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-size: 12px;

}

#section-button{
    background-color:white;
    border: 1px rgb(177, 177, 177) solid;
    padding: 4px 10px;
    border-radius: 5px;
    font-size: 12px;

}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 14px;
    margin-top: 8px;
    color: #434851;
    

}

/* Structuring the tags */
.badge{
    border-radius: 12px;
    padding: 4px 10px;
    font-size: 10px;
    margin-left: 4px;
    color: white;
}

.badge-blue{
    background-color: #14AAF5;   
}

.badge-purple{
    background-color: #AB5DE6;
}

.badge-green{
    background-color: #2CC6AB;
}

.badge-orange{
    background-color: #FF9B00;
}

.badge-pink{
    background-color: #EC4A9D;
}

.badge-lime{
    background-color: #A3D116;
}

/* Structure of the marks */
.check-icon{
    display: inline;
    border: 1px #2CC6AB solid;
    border-radius: 999px;
    padding:0px 2px;
    line-height: 14px;
    margin-right: 4px;
    height: 14px;
    width: 14px;
    color: #2CC6AB;
    font-size: 10px;
    
}

.cross-icon{
    display: inline;
    border: 1px #FF0000 solid;
    border-radius: 999px;
    padding:0px 2px;
    line-height: 14px;
    margin-right: 4px;
    height: 14px;
    width: 14px;
    color: #FF0000;
    font-size: 10px;
    
}

.arrow-icon{
    font-size: 10px;
    display: inline;

}

h2{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size:18px ;
    color: #434851;
}

